extends layout

block content
  h1= title
  #tasks
    - each task in tasks
      div.task
        div.creation_date= task.creation_date
        div.content
          a(href="/todo/" + task._id)!= task.content