extends layout

//-
  A mixin that builds a task table.
  done - Does the table show done (or opened) tasks
  tableId - Id for the table
  
mixin taskTable(tableId, done) 
  table(id=tableId)
    tbody
      tr.task(ng-repeat="task in tasks | filter:{done:" + done.toString() + "}" id="{{ task._id }}")
        td.completeTask
          span(title="Mark as completed", ng-click="completeTask(task._id)") &#x2713
        td.removeTask
          span(title="Delete", ng-click="deleteTask(task._id)") X
        td.content
          span {{ task.content }}
        td.finished
          {{ task.done }}
          
block content
  h1= title
  #new_task
    form(ng-submit="addTask(task)")
      div
        label(for="newTaskContent") New Task
        input(type="text", name="task_content", id="newTaskContent", placeholder="Task content", ng-model="task.content")
      div#newTaskSubmit
        input(type="submit", value="Add")

  #tasks
    h2 Tasks
    p There are {{ (tasks | filter:{done: false}).length }} opened tasks
    table.openTasks
      tbody
        tr.task(ng-repeat="task in tasks | filter:{done: false}" id="{{ task._id }}")
          td.completeTask
            span(title="Mark as completed", ng-click="completeTask(task._id)") &#x2713
          td.removeTask
            span(title="Delete", ng-click="deleteTask(task._id)") X
          td.content
            span {{ task.content }}
          td.finished
            {{ task.done }}
    h2 Completed Tasks
    table.closedTasks
      tbody
        tr.task(ng-repeat="task in tasks | filter:{done: true}" id="{{ task._id }}")
          td.completeTask
            span(title="Mark as completed", ng-click="completeTask(task._id)") &#x2713
          td.removeTask
            span(title="Delete", ng-click="deleteTask(task._id)") X
          td.content
            span {{ task.content }}
          td.finished
            {{ task.done }}
