//-
  A mixin that builds a task table.
  done - Does the table show done (or opened) tasks
  tableId - Id for the table

mixin tableHeaderCell(text, internalName)
  th(ng-click="sortTable("+ internalName + ")", title="Sort by column") 
    = text 
    span.caret

mixin taskTable(tableId, done)
  table.table.table-condensed.table-hover(id=tableId)
    thead
      tr
        th.empty
        th.empty
        +tableHeaderCell('Content', 'content')
        +tableHeaderCell('Due Date', 'due_date')
        +tableHeaderCell('Owner', 'owner')
    tbody
      tr.task(class="{{ colorByDueDate(task.due_date) }}", ng-repeat="task in tasks | filter:filter | filter:{done:" + done.toString() + "} | orderBy:predicate:reverseOrder")
        td.toggleTask
          span(title=done ? "Reopen task" : "Mark as completed", ng-click="toggleTask(task._id)") 
            if done 
              &#x25cb
            else
              &#x2713
        td.removeTask
          span(title="Delete", ng-click="deleteTask(task._id)") X
        td.content
          span {{ task.content }}
        td.dueDate
          span {{ task.due_date | date:"dd/MM/yyyy" }}
        td.owner
          span {{ task.owner }}
