//-
  A mixin that builds a task table.
  done - Does the table show done (or opened) tasks
  tableId - Id for the table

mixin tableHeaderCell(text, internalName)
  th(ng-click="sortTable('"+ internalName + "')", title="Sort by column") 
    = text 
    span.caret

mixin taskTable(tableId, done)
  table.table.table-condensed.table-hover.tasks(id=tableId)
    thead
      tr
        th.empty
        th.empty
        +tableHeaderCell('Content', 'content')
        +tableHeaderCell('Due Date', 'due_date')
        +tableHeaderCell('Owner', 'owner')
    tbody
      tr.task(class="{{ colorTask(task) }}", ng-repeat="task in tasks | filter:filter | filter:{done:" + done.toString() + "} | orderBy:predicate:reverseOrder")
        td.toggleTask
          span(title=done ? "Reopen task" : "Mark as completed", ng-click="toggleTask(task)") 
            if done 
              | &#x25cb
            else
              | &#x2713
        td.removeTask
          span(title="Delete", ng-click="deleteTask(task._id)") X
        td.content(editable-text="task.content", buttons="no", onbeforesave="updateContent(task, $data)")
          span {{ task.content }}
        td.dueDate
          span {{ task.due_date | date:"dd/MM/yyyy" }}
        td.owner(editable-text="task.owner", buttons="no", onbeforesave="updateOwner(task, $data)")
          span() {{ task.owner }}


mixin header(user)
  #header
    nav.navbar.navbar-default.navbar-static-top(role="navigation")
      .container-fluid
        if (user)
          p.navbar-text
            | Hello, 
            span.username #{ user.username }
            | !
          a.btn.btn-link.navbar-btn(href="/logout") Logout 
        else
          p.navbar-text
            | Hello, Guest!
          a.btn.btn-link.navbar-btn(href="/login") Login 
          a.btn.btn-link.navbar-btn(href="#") Register
      
