body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 16px;
  color: #555;
  text-align: center;
}
#main-block {
  width: 900px;
  margin: 0 auto;
  text-align: left;
}
h1,
h2 {
  text-align: center;
  font-size: 22px;
  color: #343434;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 60px;
}
#tasks {
  display: inline-block;
  text-align: left;
  margin-left: 75px;
  width: 550px;
}
#tasks #filterContent,
#tasks #filterOwner {
  position: relative;
}
#tasks #filterContent {
  left: 50px;
  width: 300px;
}
#tasks #filterOwner {
  left: 130px;
  width: 80px;
}
#tasks table {
  border-collapse: collapse;
  background-color: #eee;
  min-width: 550px;
}
#tasks table thead {
  background: #428bca;
  color: #fff;
}
#tasks th {
  border: 0px;
  cursor: pointer;
}
#tasks .empty {
  width: 25px;
}
#tasks .task {
  margin: 20px;
  min-width: 400px;
}
#tasks .task .toggleTask,
#tasks .task .removeTask {
  width: 25px;
  text-align: center;
  vertical-align: text-top;
  font-family: "Jolly Lodger", cursive;
}
#tasks .task .toggleTask span:hover,
#tasks .task .removeTask span:hover {
  cursor: pointer;
}
#tasks .task .toggleTask {
  color: #49c94b;
}
#tasks .task .toggleTask:hover {
  color: #abe0ab;
}
#tasks .task .removeTask {
  color: #f00;
}
#tasks .task .removeTask:hover {
  color: #ff7070;
}
#tasks .task .content {
  font-weight: bold;
  width: 300px;
}
#tasks .task .owner,
#tasks .task .dueDate {
  min-width: 80px;
  font-style: italic;
  font-size: 13px;
}
#tasks #closedTasks .content {
  text-decoration: line-through;
}
#tasks #closedTasks .toggleTask {
  color: #b08700;
}
#new_task {
  display: inline-block;
  width: 250px;
}
input,
textarea,
select,
button {
  margin: 0;
  width: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.username {
  font-weight: bold;
}
.table-condensed thead tr th,
.table-condensed tbody tr th,
.table-condensed tfoot tr th,
.table-condensed thead tr td,
.table-condensed tbody tr td,
.table-condensed tfoot tr td {
  padding: 0px;
}
