default-font-size = 16px
hover-delta = 10px

body
  font-family "Helvetica Neue", "Lucida Grande", "Arial"
  font-size default-font-size
  text-align center
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555
h1, h2
  margin 0
  font-size 22px
  color #343434
h1
  text-shadow 1px 2px 2px #ddd
  font-size 60px
#tasks
  text-align left
  margin-left auto
  margin-right auto
  width 450px
  table
    background-color #eee
  .task
    &:hover
      color #3D2399
      background-color #efeffe
    margin 20px
    min-width 400px
    .toggleTask, .removeTask
      width 25px
      text-align center
      vertical-align text-top
      font-family "Jolly Lodger", cursive
      span:hover
        // commented out since it pushes the next row down (failed to prevent it)
        //font-size default-font-size + hover-delta
        cursor pointer
    .toggleTask
      color #49C94B
      &:hover
        color #ABE0AB
    .removeTask
      color red
      &:hover
        color #FF7070
    .content
      font-weight bold
      width 350px
    .owner
      min-width 80px
      font-style italic
      font-size default-font-size - 3
    
  #closedTasks .content
    text-decoration line-through
  #closedTasks .toggleTask
    color #B08700



