body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 16px;
  text-align: center;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #555;
}
h1,
h2 {
  margin: 0;
  font-size: 22px;
  color: #343434;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 60px;
}
#tasks {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
#tasks table {
  background-color: #eee;
}
#tasks .task {
  margin: 20px;
  width: 300px;
}
#tasks .task .completeTask,
#tasks .task .removeTask {
  width: 25px;
  text-align: center;
  vertical-align: text-top;
}
#tasks .task .completeTask span:hover,
#tasks .task .removeTask span:hover {
  cursor: pointer;
}
#tasks .task .completeTask {
  color: #49c94b;
}
#tasks .task .completeTask:hover {
  color: #abe0ab;
}
#tasks .task .removeTask {
  color: #f00;
  font-family: "Jolly Lodger", cursive;
}
#tasks .task .removeTask:hover {
  color: #ff7070;
}
#tasks .task .content {
  font-weight: bold;
}
#tasks .task:hover {
  color: #3d2399;
}
