body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 16px;
  text-align: center;
  color: #555;
}
h1,
h2 {
  margin: 0;
  font-size: 22px;
  color: #343434;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 60px;
}
#tasks {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}
#tasks #filterContent,
#tasks #filterOwner {
  left: 50px;
  position: relative;
}
#tasks #filterContent {
  width: 300px;
}
#tasks #filterOwner {
  width: 80px;
}
#tasks table {
  border-collapse: collapse;
  background-color: #eee;
  min-width: 450px;
}
#tasks table thead {
  background: #999;
  color: #eee;
}
#tasks th {
  border: 0px;
}
#tasks .empty {
  width: 25px;
}
#tasks .task {
  margin: 20px;
  min-width: 400px;
}
#tasks .task:hover {
  color: #3d2399;
  background-color: #efeffe;
}
#tasks .task .toggleTask,
#tasks .task .removeTask {
  width: 25px;
  text-align: center;
  vertical-align: text-top;
  font-family: "Jolly Lodger", cursive;
}
#tasks .task .toggleTask span:hover,
#tasks .task .removeTask span:hover {
  cursor: pointer;
}
#tasks .task .toggleTask {
  color: #49c94b;
}
#tasks .task .toggleTask:hover {
  color: #abe0ab;
}
#tasks .task .removeTask {
  color: #f00;
}
#tasks .task .removeTask:hover {
  color: #ff7070;
}
#tasks .task .content {
  font-weight: bold;
  width: 300px;
}
#tasks .task .owner {
  min-width: 80px;
  font-style: italic;
  font-size: 13px;
}
#tasks #closedTasks .content {
  text-decoration: line-through;
}
#tasks #closedTasks .toggleTask {
  color: #b08700;
}
