default-font-size = 16px
hover-delta = 10px
task-content-width = 300px
task-owner-width = 80px
task-operation-width = 25px 
tasks-div-width = 550px
filter-content-position = task-operation-width*2

body
  font-family "Helvetica Neue", "Lucida Grande", "Arial"
  font-size default-font-size
  text-align center
  color #555
h1, h2
  margin 0
  font-size 22px
  color #343434
h1
  text-shadow 1px 2px 2px #ddd
  font-size 60px
#tasks
  text-align left
  margin-left auto
  margin-right auto
  width tasks-div-width
  #filterContent, #filterOwner
    position relative 
  #filterContent
    left filter-content-position
    width task-content-width
  #filterOwner
    left filter-content-position + task-owner-width
    width task-owner-width
  table
    border-collapse collapse 
    background-color #eee
    min-width tasks-div-width
    thead
      background #999
      color #eee
   th
     border 0px
     cursor pointer
     &:hover
       color #F2FFFE
       text-shadow 1px 2px 1px rgba(209, 200, 195, 1)
   .empty
     width task-operation-width
  .task
    &:hover
      color #3D2399
      background-color #efeffe
    margin 20px
    min-width 400px
    .toggleTask, .removeTask
      width task-operation-width
      text-align center
      vertical-align text-top
      font-family "Jolly Lodger", cursive
      span:hover
        // commented out since it pushes the next row down (failed to prevent it)
        //font-size default-font-size + hover-delta
        cursor pointer
    .toggleTask
      color #49C94B
      &:hover
        color #ABE0AB
    .removeTask
      color red
      &:hover
        color #FF7070
    .content
      font-weight bold
      width task-content-width
    .owner, .dueDate
      min-width task-owner-width
      font-style italic
      font-size default-font-size - 3
    
  #closedTasks .content
    text-decoration line-through
  #closedTasks .toggleTask
    color #B08700

input, textarea, select, button
  margin 0
  width 150px
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  
label
  float left
  width 100px
  margin-right 15px
  text-align right

#new_task
  width 300px
  margin auto