default-font-size = 16px
hover-delta = 5px

body
  font-family "Helvetica Neue", "Lucida Grande", "Arial"
  font-size default-font-size
  text-align center
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555
h1, h2
  margin 0
  font-size 22px
  color #343434
h1
  text-shadow 1px 2px 2px #ddd
  font-size 60px
#tasks
  text-align left
  margin-left auto
  margin-right auto
  width 320px
  ul
    list-style-type none
    margin-left 0px
    padding-left 0px
  .task
    margin 20px
    background-color #eee
    width 300px
    display block
    .completeTask, .removeTask, .content
      display inline
      min-width 30px
      margin-left 10px
    .completeTask:hover, .removeTask:hover
      cursor pointer
    .completeTask
      color #49C94B
      &:hover
        //font-size default-font-size + hover-delta
        color #ABE0AB
    .removeTask
      color red
      font-family "Jolly Lodger", cursive
      &:hover
        //font-size default-font-size + hover-delta
        color #FF7070
    .content
      font-weight bold
      text-decortaion underline
