body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 16px;
  text-align: center;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #555;
}
h1,
h2 {
  margin: 0;
  font-size: 22px;
  color: #343434;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 60px;
}
#tasks {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
#tasks table {
  background-color: #eee;
}
#tasks .task {
  margin: 20px;
  min-width: 400px;
}
#tasks .task .toggleTask,
#tasks .task .removeTask {
  width: 25px;
  text-align: center;
  vertical-align: text-top;
}
#tasks .task .toggleTask span:hover,
#tasks .task .removeTask span:hover {
  cursor: pointer;
}
#tasks .task .toggleTask {
  color: #49c94b;
}
#tasks .task .toggleTask:hover {
  color: #abe0ab;
}
#tasks .task .removeTask {
  color: #f00;
  font-family: "Jolly Lodger", cursive;
}
#tasks .task .removeTask:hover {
  color: #ff7070;
}
#tasks .task .content {
  font-weight: bold;
  width: 350px;
}
#tasks .task:hover {
  color: #3d2399;
}
#tasks #closedTasks .content {
  text-decoration: line-through;
}
